//FILTRAR POR WRITER id
<div class="post-card">
    <div class="post-card-header">
        {{title}}
         <p>{{writer_name}}</p>
                    <p>{{date_created}}</p>
    </div>
        <div class="post-card-description">
        {{description}}
    </div>
</div>